/*center*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.photo {
    display: block;
}
 
/*------header------*/

.navigation-container {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 24px 0;
    margin-right: 76px;
}

.studio {
    color: #2e2f42;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu .logo-list {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
}

address {
    font-style: normal;
}

.add {
    margin-left: auto;
}

.menu .logo-list:hover {
    color: #404bbf;
}

.menu .logo-list:active {
    color: #404bbf;
    text-decoration: underline;
}

.menu .logo-list:focus {
    color: #404bbf;
}

.info {
    display: flex;
    align-items: center;
    gap: 40px;
}

.info .cont {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
}

.info .cont:hover {
    color: #404BBF;
}

.info .cont:focus {
    color: #404BBF;
}

/*====main====*/

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    line-height: 1.5;
    background-color: #FFFFFF;
}

.hero-container {;
}

.mision-item .third-title {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mision-item .text {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
}
    
.business {
    background-color: #2e2f42;
    line-height: 1.07;
    padding: 188px 0;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

.page-title {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    padding: 16px 32px;
    background: #4d5ae5;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.second-title {
    font-size: 36px;
    text-align: center;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    color: #2e2f42;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.te-list .list {
    background-color: #FFFFFF;
}

.port-title {
    color: #2e2f42;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-transform: capitalize;
}

/*====footer====*/

.end-page {
    background-color: #2E2F42;
}

.logo-foot {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studioo {
    color: #F4F4FD;
}

.end-text {
    color: #F4F4FD;
    font-size: 16px;
    letter-spacing: 0.02em;
}