/*center*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.photo {
    display: block;
}
 
/*------header------*/

.navigation-container {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 24px 0;
    margin-right: 76px;
}

.studio {
    color: #2e2f42;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu .logo-list {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
}

address {
    font-style: normal;
}

.add {
    margin-left: auto;
}

.menu .logo-list:hover {
    color: #404bbf;
}

.menu .logo-list:active {
    color: #404bbf;
    text-decoration: underline;
}

.menu .logo-list:focus {
    color: #404bbf;
}

.info {
    display: flex;
    align-items: center;
    gap: 40px;
}

.info .cont {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
}

.info .cont:hover {
    color: #404BBF;
}

.info .cont:focus {
    color: #404BBF;
}

/*====main====*/

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    line-height: 1.5;
    background-color: #FFFFFF;
}

.hero-container {;
}

.mision-item .third-title {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mision-item .text {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
}
    
.business {
    background-color: #2e2f42;
    line-height: 1.07;
    padding: 188px 0;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

.page-title {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    padding: 16px 32px;
    background: #4d5ae5;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.features {
    padding: 120px 0;
}

.second-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.mision-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.mision-item {
    flex-basis: calc((100% - 72px) / 4);
}

.third-title {
    text-align: center;
    margin-bottom: 8px;
}
/*3-section*/
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    color: #2e2f42;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.te-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.te-list .list {
    background-color: #FFFFFF;flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}

.team-info {
    padding: 32px 0;
}

.text {
    text-align: center;
    font-size: 16px;
}

.portfolio {
    text-align: center;
    font-size: 16px;
}

.port-title {
    color: #2e2f42;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.port-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.port-list-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-case-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfo-title {
    margin-bottom: 8px;
}

/*====footer====*/

.end-page {
    background: #2e2f42;
    padding: 100px 0;
}

.logo-foot {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.studioo {
    color: #F4F4FD;
}

.end-text {
    color: #F4F4FD;
    font-size: 16px;
    letter-spacing: 0.02em;
    max-width: 264px;
}